Question1
Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.
Examples
equal(3, 4, 3) ➞ 2

equal(1, 1, 1) ➞ 3

equal(3, 4, 1) ➞ 0 
Notes
Your function must return 0, 2 or 3.

In [1]:
def equal(a,b,c):
    if a == b and b==c:
        return 3
    elif a==b or b==c or a==c:
        return 2
    else:
        return 0

In [2]:
equal(1, 1, 1)

3

In [3]:
equal(3, 4, 1)

0

In [4]:
equal(3, 4, 3)

2

Question2
Write a function that converts a dictionary into a list of keys-values tuples.


Examples


dict_to_list({
  "D": 1,
  "B": 2,
  "C": 3
}) ➞ [("B", 2), ("C", 3), ("D", 1)]

dict_to_list({
  "likes": 2,
  "dislikes": 3,
  "followers": 10
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)]

Notes
Return the elements in the list in alphabetical order.

In [18]:
A = { "D": 1, "B": 2, "C": 3 }
l = []

for i in A:
    l.append(i)
l.sort()

In [50]:
def dict_to_list(dic):
    l = []
    k = []
    for i in dic:
        l.append(i)
    l.sort()
    for j in l:
        k.append((j,dic[j]))
    return k

In [51]:
dict_to_list({ "D": 1, "B": 2, "C": 3 })

[('B', 2), ('C', 3), ('D', 1)]

In [55]:
dict_to_list({ "likes": 2, "dislikes": 3, "followers": 10 })

[('dislikes', 3), ('followers', 10), ('likes', 2)]

Question3
Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.

Examples

mapping(["p", "s"]) ➞ { "p": "P", "s": "S" }

mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" }

mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" }

Notes

All of the letters in the input list will always be lowercase.

In [58]:
def mapping(lst):
    d = dict()
    for i in lst:
        d[i] = i.upper()
    return d

In [59]:
mapping(["p", "s"])

{'p': 'P', 's': 'S'}

In [60]:
mapping(["a", "v", "y", "z"])

{'a': 'A', 'v': 'V', 'y': 'Y', 'z': 'Z'}

Question4
Write a function, that replaces all vowels in a string with a specified vowel.
Examples
vow_replace("apples and bananas", "u") ➞ "upplus und bununus"

vow_replace("cheese casserole", "o") ➞ "chooso cossorolo"

vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers"
Notes
All words will be lowercase. Y is not considered a vowel.

In [64]:
def vow_replace(string,replacer):
    for i in string:
        if i in 'aeui':
            string = string.replace(i,replacer)
    return string

In [65]:
vow_replace("cheese casserole", "o")

'chooso cossorolo'

In [66]:
vow_replace("apples and bananas", "u")

'upplus und bununus'

Question5
Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.
Examples
ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!"

ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD"

ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL moRNiNg."

In [74]:
def ascii_capitalize(string):
    for i in string:
        if ord(i) % 2 ==0:
            string = string.replace(i,i.upper())
        else:
            string = string.replace(i,i.lower())
    return string

In [75]:
ascii_capitalize("THE LITTLE MERMAID")

'THe LiTTLe meRmaiD'